.unknown:before{
  content: "? ";
}

.unknown {
  color:gray;
}



.known:before {
  content: "OK ";
}

.known {
  color:green;
}


body {
  width:350px;
  height:300px;


  border: 0px solid black;


  font: 10pt/13pt sans-serif;
}


p {
  padding: 5px;
}

.tag {
	display: inline;
}


ul.allmytags  {
  list-style-type:none;
}
li.allmytags {
  padding: 0px;
  margin:0px;
}


ol.related {
	list-style-type: decimal;
	width:100%;
}
ol.related li {
	margin:10px 0 0 30px;
	line-height:10px;
}
ol.related li a {
	text-decoration: none;
	color:black;
	font-weight:normal;
	color:gray;
}
ol.related li a:hover {
	color:black;
}


.halfpanel {
  width:50%;
  height:230px;
  float:left;
  overflow: hidden;
}

.halfpanel form input {
  width: 80%;
}


input.add {
  background:  url(../tango-icon-theme/16x16/actions/list-add.png) no-repeat 0% 0%;
  padding-left: 16px;
  border: 0px;
  margin:0px;
}

#newPeer {
  width:90%;
}


.halfpanel.disabled {
  background: url(../tango-icon-theme/32x32/status/dialog-information.png) no-repeat 50% 50% rgba(0, 0, 0, 0.25);
}

button {
  margin: 5px 10px 5px 10px;
}
a.tag {
  text-decoration: none;
  color:black;
}

#newPeer {
	border: 1px solid grey;
	margin:5px;
}

.progress{
	position:absolute;
	right: 5px;
	border: 1px solid gray;
	width:100px;
	margin: 0px;
	margin-top:-10px;
	padding: 0px;
}
.progress div {
	background: #76b347;
	margin: 0px;a
	width:0%;
	padding: 0px;
}

.hiddenvalue {
	display:none;
}



/*
 * CSS3-buttons modifications
*/


button.cupid-green, button.clean-gray {
  margin-top: 0px;
}

/* JQuery elements
 *
*/
#radioset {
  width:90%;
  margin: 0 auto 10px auto;
  text-align: center;
}
#radioset * {
  font-size: 10pt;
}
#radioset label span a {
  font-weight: normal;
}
.ui-autocomplete {
  font-size: 9pt;
}
